/* MENU */
.menu {
  width: 100%;
  margin: auto;
  position: fixed;
  background-color: #fafafa;
  color: black;
  z-index: 5;
}

.navigation {
  text-align: center;
  height: auto;
}

.navigation-list {
  margin: 0;
  display: inline-block;
  list-style: none;
}

.navigation-item {
  display: inline-block;
}

.navigation-item a {
  display: inline-block;
  padding: 1.375em 1.25rem 1.29688em;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* MENU */
ul.topnav {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

ul.topnav li {
  float: center;
  display: inline-block;
}

ul.topnav li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1em;
}

ul.topnav li a:hover {background-color: #f2f2f2;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {
    position: relative;
    padding: 0;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: center;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}
